<h2>Ember DateTimePicker</h2>

<div class="tb">
    <div class="row">
        <div>
            <h4>Default picker</h4>
            <p>No options, no initial date</p>
            {{datetime-picker
                date=defaultConf.date
            }}
            <p>Date is: {{defaultConf.date}}</p>
        </div>
        <div class="separator"></div>
        <div>
            <h4>Date and time picker</h4>
            <p>24 hours format with initial date. Position:right</p>
            {{datetime-picker
                date=dateTimeConf.date
                position=dateTimeConf.position
                showTime=dateTimeConf.showTime
                showSeconds=dateTimeConf.showSeconds
                hours24format=dateTimeConf.hours24format
                minutesStep=dateTimeConf.minutesStep
                secondsStep=dateTimeConf.secondsStep
            }}
            <p>Date is: {{dateTimeConf.date}}</p>
        </div>
    </div>
    <div class="row">
        <div class="separator"></div>
    </div>
    <div class="row">
        <div>
            <h4>Date and time picker</h4>
            <p>24 hours format with initial date. Position:bottom</p>
            {{datetime-picker
                date=dateTime12HoursConf.date
                position=dateTime12HoursConf.position
                showTime=dateTime12HoursConf.showTime
                showSeconds=dateTime12HoursConf.showSeconds
                hours24format=dateTime12HoursConf.hours24format
                minutesStep=dateTime12HoursConf.minutesStep
                secondsStep=dateTime12HoursConf.secondsStep
            }}
            <p>Date is: {{dateTime12HoursConf.date}}</p>
        </div>
        <div class="separator"></div>
        <div>
            <h4>Min and max date</h4>
            <p>Setup minDate/maxDate. 12 hours format.</p>
            {{datetime-picker
                date=minmaxDateConf.date
                position=minmaxDateConf.position
                format=minmaxDateConf.format
                minDate=minmaxDateConf.minDate
                maxDate=minmaxDateConf.maxDate
                showTime=minmaxDateConf.showTime
                showSeconds=minmaxDateConf.showSeconds
                hours24format=minmaxDateConf.hours24format
                minutesStep=minmaxDateConf.minutesStep
                secondsStep=minmaxDateConf.secondsStep
            }}
            <p>Date is: {{minmaxDateConf.date}}</p>

        </div>
    </div>
    <div class="row">
        <div class="separator"></div>
    </div>
    <div class="row">
        <div>
            <h4>Russian localization</h4>
            <p>Show week number. Show seconds. Position: bottom right</p>
            {{datetime-picker
                date=i18nRuConf.date
                position=i18nRuConf.position
                firstDay=i18nJpConf.firstDay
                showTime=i18nRuConf.showTime
                showSeconds=i18nRuConf.showSeconds
                hours24format=i18nRuConf.hours24format
                minutesStep=i18nRuConf.minutesStep
                secondsStep=i18nRuConf.secondsStep
                i18n=i18nRuConf.i18n
            }}
            <p>Date is: {{i18nRuConf.date}}</p>
        </div>
        <div class="separator"></div>
        <div>
            <h4>Japanese localization</h4>
            <p>Show seconds. Minutes step: 5. Seconds step:10.  Position: bottom right</p>
            {{datetime-picker
                date=i18nJpConf.date
                position=i18nJpConf.position
                format=i18nJpConf.format
                firstDay=i18nJpConf.firstDay
                showTime=i18nJpConf.showTime
                showSeconds=i18nJpConf.showSeconds
                hours24format=i18nJpConf.hours24format
                minutesStep=i18nJpConf.minutesStep
                secondsStep=i18nJpConf.secondsStep
                i18n=i18nJpConf.i18n
            }}
            <p>Date is: {{i18nJpConf.date}}</p>
        </div>
    </div>
    <div class="row">
        <div class="separator"></div>
    </div>
    <div class="row">
        <div>
            <h4>2 Month at once</h4>
            <p>Also show "clear" button</p>
            {{datetime-picker
                date=months2Conf.date
                position=months2Conf.position
                numberOfMonths=months2Conf.numberOfMonths
                showTime=months2Conf.showTime
                showSeconds=months2Conf.showSeconds
                hours24format=months2Conf.hours24format
                minutesStep=months2Conf.minutesStep
                secondsStep=months2Conf.secondsStep
                clearButton=months2Conf.clearButton
            }}
            <p>Date is: {{months2Conf.date}}</p>
        </div>
        <div class="separator"></div>
        <div>
            <h4>Picker customization</h4>
            <p>Add icon on left side</p>
            {{datetime-picker
                date=customConf.date
                position=customConf.position
                showTime=customConf.showTime
                showSeconds=customConf.showSeconds
                hours24format=customConf.hours24format
                minutesStep=customConf.minutesStep
                secondsStep=customConf.secondsStep
                clearButton=true
                class="customized"
            }}
            <p>Date is: {{customConf.date}}</p>
        </div>
    </div>
    <div class="row">
        <div class="separator"></div>
    </div>

</div>
<div class="tb">
    <div class="row">
        <div class="logs">
            <h4>Events logger</h4>
            <p>Log all events from picker</p>
            <div class="logs-container">
                {{datetime-picker
                    date=loggerConf.date
                    showTime=loggerConf.showTime
                    showSeconds=loggerConf.showSeconds
                    hours24format=loggerConf.hours24format
                    minutesStep=loggerConf.minutesStep
                    secondsStep=loggerConf.secondsStep
                    clearButton=loggerConf.clearButton
                    clearButton=true
                    onSelect="onSelect"
                    onOpen="onOpen"
                    onClose="onClose"
                    onDraw="onDraw"
                }}
                <p>Date is: {{loggerConf.date}}</p>
            </div>
            <div class="logs-container">
                <div>
                    <code class="log">
                        {{#if logs.length}}
                            {{#each item in logs}}
                            {{item}}<br>
                            {{/each}}
                        {{else}}
                            Wating for events...
                        {{/if}}
                    </code>
                </div>

            </div>
        </div>
    </div>
</div>




